<form name="wagerForm" ng-submit="ctrl.submit()">
    <div class="form-group">
        <label  class="control-label">Game</label>
        <select class="form-control" ng-options="game for game in ctrl.games" ng-model="ctrl.game" required></select>
    </div>

    <div class="form-group">
        <label  class="control-label">Price</label>
        <input type="number" class="form-control" ng-model="ctrl.price" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-primary" ng-disabled="!wagerForm.$valid">Add wager</button>
    </div>
</form>